{% extends "base.html" %}

{% block content %}
<div class="section">
    <h2 class="section-title">Hobbies</h2>
    <div class="hobbies-container">
        <!-- Hunter's Hobbies -->
        <div class="hobby-column">
            <h3 class="person-name">Hunter</h3>
            <div class="hobby-item">
                <img src="./static/img/swimming_logo.jpg" alt="">
                <h4>Swimming</h4>
            </div>
            <div class="hobby-item">
                <img src="./static/img/weightlifting_logo.jpg" alt="">
                <h4>Weightlifting</h4>
            </div>
            <div class="hobby-item">
                <img src="./static/img/pogo_logo.png" alt="">
                <h4>Pokemon Go</h4>
            </div>
        </div>

        <!-- Baljinder's Hobbies -->
        <div class="hobby-column">
            <h3 class="person-name">Baljinder</h3>
            <div class="hobby-item">
                <img src="./static/img/martial_arts.jpg" alt="">
                <h4>Martial Arts</h4>
            </div>
            <div class="hobby-item">
                <img src="./static/img/photography.jpg" alt="">
                <h4>Photography</h4>
            </div>
            <div class="hobby-item">
                <img src="./static/img/reading.jpg" alt="">
                <h4>Reading</h4>
            </div>
        </div>
    </div>
</div>
{% endblock %} 